<!DOCTYPE html>
<html>

<head>
<script src="//cdn.sencha.io/ext-4.2.0-gpl/ext-all-dev.js"> 
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js">
</script> 
<style type="text/css">
.row{
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:black;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	font-family:Arial, sans-serif;
	text-align:left;
	vertical-align:top;
	border-top:1.0pt solid #3A6293;
	border-right:1.5pt solid #3A6293;
	white-space:normal;
	min-width: 50px;
	height: 100px;
	background: silver;
}
.wknd{
	background: #CEF6E3;
}
.centerpls{
	width: 60%;
	margin: 0 auto;
}
h1{
	text-align: center;
}
.center{
	text-align: center;
}
</style>
<title>Its the huge calender project</title>
</head>

<body><div id="main">
	<h1><input type="image" src="http://upload.wikimedia.org/wikipedia/commons/3/3e/Icon_Arrow_Left_256x256.png" id="arrowleft" height="30" width="30" alt="leftarrow">
	<strong id = "month">Month</strong>/<strong id = "year">Year</strong>
	<input type="image" src="http://upload.wikimedia.org/wikipedia/commons/f/f6/Icon_Arrow_Right_256x256.png" id="arrowright" height="30" width="30" alt="rightarrow"></h1>
	<div class= "centerpls">
	<div class = "center">You are currently using the Calender named  <div id = "calName">Default Calender</div></div>
	<table border="1">
	<tr id = "days">
		<td><div style="width: 100px">Sunday</div></td>
		<td><div style="width: 100px">Monday</div></td>
		<td><div style="width: 100px">Tuesday</div></td>
		<td><div style="width: 100px">Wednesday</div></td>
		<td><div style="width: 100px">Thursday</div></td>
		<td><div style="width: 100px">Friday</div></td>
		<td><div style="width: 100px">Saturday</div></td>
	</tr>
	<tr id = "row1" class = "row">
		<td id = "0.1" class = "wknd"></td> <!--Weekday.Row!-->
		<td id = "1.1"></td>
		<td id = "2.1"></td>
		<td id = "3.1"></td>
		<td id = "4.1"></td>
		<td id = "5.1"></td>
		<td id = "6.1" class = "wknd"></td>
	</tr>
	<tr id = "row2" class = "row">
		<td id = "0.2" class = "wknd"></td>
		<td id = "1.2"></td>
		<td id = "2.2"></td>
		<td id = "3.2"></td>
		<td id = "4.2"></td>
		<td id = "5.2"></td>
		<td id = "6.2" class = "wknd"></td>
	</tr>
	<tr id = "row3" class = "row">
		<td id = "0.3" class = "wknd"></td>
		<td id = "1.3"></td>
		<td id = "2.3"></td>
		<td id = "3.3"></td>
		<td id = "4.3"></td>
		<td id = "5.3"></td>
		<td id = "6.3" class = "wknd"></td>
	</tr>
	<tr id = "row4" class = "row">
		<td id = "0.4" class = "wknd"></td>
		<td id = "1.4"></td>
		<td id = "2.4"></td>
		<td id = "3.4"></td>
		<td id = "4.4"></td>
		<td id = "5.4"></td>
		<td id = "6.4" class = "wknd"></td>
	</tr>
	<tr id = "row5" class = "row">
		<td id = "0.5" class = "wknd"></td>
		<td id = "1.5"></td>
		<td id = "2.5"></td>
		<td id = "3.5"></td>
		<td id = "4.5"></td>
		<td id = "5.5"></td>
		<td id = "6.5" class = "wknd"></td>
	</tr>
	<tr id = "row6" class = "row">
		<td id = "0.6" class = "wknd"></td>
		<td id = "1.6"></td>
		<td id = "2.6"></td><!--Yes, we know these slots won't be filled in, but it looks better with them there-->
		<td id = "3.6"></td>
		<td id = "4.6"></td>
		<td id = "5.6"></td>
		<td id = "6.6" class = "wknd"></td>
	</tr>
	</table>
	</div>
	<br>
	<p id = "formText">Add a new event!(You can't do this on the default calender)</p>
	<!-- This particular code works in chrome, not so much in firefox -->
	<form id = "actualForm" class="calForm" method = "POST">
		<input type="text" name="event" id="title" placeholder="Enter Event Title" maxlength="30"/> <br>
		Event date: <input type="date" name="event" id="date" /> <br>
		start time: <input type="time" name="event" id="time" /> <br>
		<button id="submitEvent" type = "button" >Submit</button>
		{% csrf_token %}
		<p>Or you can modify/delete an event on the calender!(after logging in and selecting a calender)</p>
		<select name = "droplist" id= "eventTitles">
		</select>
		<button id = "editEvent" type = "button">Overwrite selected event</button>
		<button id = "delEvent" type = "button">Delete selected event</button>
	</form>
	
	
	<p id = "newCalText">Add a new calender!(You can't do this before logging in)</p>
	<div id = "newCal" class = "addCal">
		<input type = "text" name ="calName" id = "newCalName" placeholder = "Calender Name" maxLength = "30"/><br>
		Choose a color!
		<select name = "dropdown" id = "colors">
		<option value = "0">Default Color</option>
		<option value = "1">Dark Red</option>
		<option value = "2">Violet</option>
		<option value = "3">Turqoise</option>
		<option value = "4">Lemon</option>
		<option value = "5">Navy Blue</option>
		<option value = "6">Brick</option>
		<option value = "7">Peach</option>
		<option value = "8">Sky Blue</option>
		<option value = "9">Poop</option>
		<option value = "10">Light Pink</option>
		<option value = "11">Purple</option>
		<option value = "12">Leaf green</option>
		<option value = "13">Golden Yellow</option>
		<option value = "14">Indigo</option>
		<option value = "15">Lime</option>
		<option value = "16">Skin</option>
		<option value = "17">Fanta</option>
		<option value = "18">Hot Pink</option>
		<option value = "19">Navy</option>
		</select> <br>
		<button id="create" type="button">Create</button>
		{% csrf_token %}
	</div>
	<br>
	<select name= calenderList id = "calenderList">
		<option value = "0"> Default Calender</option>
	</select>
	<button id="selectCalender" type="button">Display selected Calender</button>
	<button id ="deleteCalender" type = "button">Delete selected Calender</button>
	
	<br>
	<form id = "loginform" method="POST">
	<div id = "login">
	<p id = "loginText"> Log in or Register, absolutely free! start looking at events on a calender today! how thrilling!</p>	
	<input type="text" id="username" placeholder="Username" /> <br>
	<input type="password" id="password" placeholder="Password" /> <br>
	<button id="login_btn" type= "button">Log In</button>
	<button id= "register_btn" type = "button">Register</button>
	</div>
	{% csrf_token %}
	</form>
	
	
	
<!-- All the javascript that works upon the skeleton goes below -->	
<script type="text/javascript">
var currentDayOfWeek; //0 = sun, 1 = mon, 2 = tue, 3 = wed, 4 = thu, 5 = fri, 6 = sat
var currentDayOfMonth; //1-31
//initialize the date stuff
var today = new Date();
var year = today.getFullYear();
var month = today.getMonth();
var dim = new Date(today.getFullYear(), today.getMonth() + 1, 0).getDate();

//Initialize the stuff that needs
//to be tracked for requests to work
var eventList = []; 
var eventIDList = [];
var eventDayList = [];
var eventMonthList = [];
var eventYearList = [];
var eventTimeList = [];
var calenderList = []; calenderList[0] = "Default Calender";
var calenderColorList = []; calenderColorList[0] = "0";
var calenderIDList = []; calenderIDList[0] = "-1";
var calIndex = 0;
var user = -1;
var a; //this is just a generic counter variable
//There are 20* colors to choose from!(some might be sky blue)
var colors = new Array("#CEF6E3", //Default Color
    "#800000", //Dark red
    "#471957", //violet
    "#66FFFF", //turqoise
    "#FFFF3F", //Lemon
    "#001F5C", //Navy Blue
    "#993333", //Brick
    "#FFCC99", //Peach
    "#00CCFF", //Sky Blue
    "#663300", //Poop
    "#E6B2CC", //light pink
    "#9966FF", //Purple
    "#00840F", //Leaf Green
    "#FFBD19", //Golden Yellow
    "#7777EE", //Indigo
    "#B6FF23", //Lime
    "#FFD2BF", //Skin
    "#FF4E00", //Fanta
    "#FF1960", //Hot Pink
    "#000080"  //navy
    );
//basic calender functions
function pushEvents(){
    "use strict";
    var eventLength;
    eventLength = eventList.length;
    for(a = 0; a < eventLength; a++){
        if (eventYearList[a] == year) {
            if (eventMonthList[a] == month+1) {
                document.getElementById(eventDayList[a]).innerHTML+= "<p>";
                document.getElementById(eventDayList[a]).textContent+= eventTimeList[a]+" "+eventList[a];
                document.getElementById(eventDayList[a]).innerHTML+="</p>";
            }
        }
    }
}
function backOneMonth() {
	"use strict";
	if(month > 0){
		month = month - 1;
		dim = new Date(today.getFullYear(), today.getMonth(), 0).getDate();
		today = new Date(today.getFullYear(), month, dim);
	} else {
		month = 11;
		today = new Date(today.getFullYear() - 1, 11, 1);
		year = today.getFullYear();
		dim = 31;
	}
	clearCalender();
	populateCalender(dim, today.getDay(), today.getDate());
}
function upOneMonth(){
	"use strict";
	if(month < 11){
		month = month + 1;
		today = new Date(today.getFullYear(), month, 1);
		dim = new Date(today.getFullYear(), month+1, 0).getDate();
		clearCalender();
		populateCalender(dim, today.getDay(), today.getDate());
	} else {
		month = 0;
		today = new Date(today.getFullYear() + 1, 0, 1);
		dim = 31;
		year = today.getFullYear();
		clearCalender();
		populateCalender(dim, today.getDay(), today.getDate());
	}
	
}
function clearCalender(){
	"use strict";
	var i,j;
	for(i = 0; i < 7; i = i + 1){
		for(j = 1; j < 7; j = j +1){
		document.getElementById(i + "." + j).innerHTML = "";	
		}
	}
}
/*
 *FINALLY GOT LOGIN AND REGISTER TO WORK, DEBUGGING THAT WAS AWFUL
 *for future reference, always double check your urls.py
 *to ensure that you're correctly specifying the path
 */
function register() {
    "use strict";
    var username = document.getElementById("username").value, password = document.getElementById("password").value, xmlHttp = new XMLHttpRequest();
    alert("you're about to try to register the username "+username);
    xmlHttp.open("POST", "register.py", true);
    xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.addEventListener("load", function (event) {
        var jsonData = JSON.parse(event.target.responseText); 
        if (jsonData.reason) {
            alert("You were not registered.  " + jsonData.reason);
        } else {
            alert("You've been registered!");
            user = jsonData.user_id;
            removeLoginRegister();
            document.getElementById("newCalText").textContent = "Add a new Calender(You can do it now)";
        }
    }, false);
    xmlHttp.send("username=" + username + "&password=" + password);
}
function loginAjax(event) {
    "use strict";
    // Get the username and password from the form , set up for post and begin XML
    var username = document.getElementById("username").value, password = document.getElementById("password").value, xmlHttp = new XMLHttpRequest(); // Get the password from the form
    if (username === null) {
        return;
    }
    // Make a URL-encoded string for passing POST data:
    // Starting a POST request (NEVER send passwords as GET variables!!!)
    xmlHttp.open("POST", "login_auth.py", true);
    //send the csrf token or else bad things happen
    xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.addEventListener("load", function (event) {
        var jsonData = JSON.parse(event.target.responseText); 
        if (jsonData.reason) {
            alert("You were not logged in.  " + jsonData.reason);
        } else {
            alert("You've been Logged In!");
            user = jsonData.user_id;
            removeLoginRegister();
            document.getElementById("newCalText").textContent = "Add a new Calender(You can do it now)";
            requestCalenders();
        }
    }, false); // Bind the callback to the load event
    xmlHttp.send("username=" + username + "&password=" + password); // Send the data
}


function addCalender(){
    var title, color, xmlHttp = new XMLHttpRequest();
    if (user > -1) {
	title = document.getElementById("newCalName").value;
	color = document.getElementById("colors").value;
	xmlHttp.open("POST", "addCal.py", true);
        //send the csrf token or else bad things happen
        xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	xmlHttp.addEventListener("load", function(event){
		alert(event.target.responseText);
		requestCalenders();
	}, false); // Bind the callback to the load event
	xmlHttp.send("calName="+title+"&color="+color);
    }
    
}

function requestCalenders(){
    "use strict";
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "subcal/", true); //cal names aren't sensitive information
    xmlHttp.addEventListener("load", function (event) {
        var jsonData = JSON.parse(event.target.responseText);
        if (jsonData.reason) {
            alert("Stop trying to hack, this is a school project! What could you possibly get out of breaking this code?");
        } else {
            var length = jsonData.meta.total_count;
            alert("about to fetch all calenders associated with user")
	    document.getElementById("calenderList").innerHTML = "<option value = " + 0 + "> Default Calender</option>";
	    for(a = 0; a < length; a = a+1){
		calenderIDList [a+1] = jsonData.objects[a].id;
		calenderList[a+1] = jsonData.objects[a].name;
		calenderColorList[a+1] = jsonData.objects[a].color;
		document.getElementById("calenderList").innerHTML+= "<option value = " + (a+1) + "> "+ calenderList[a+1] + "</option>";
	    }
        }
        
    }, false);
    xmlHttp.send("id="+user);
}


function populateCalender(daysInMonth, currentDayOfWeek, currentDayOfMonth) {
    "use strict";
    var FirstDayOfMonth = "woof", temp = currentDayOfMonth, i = 0,day, alsoTemp, placeHolder;
    while (temp > 8) {//keep going back through weeks as necessary
        temp = temp - 7;
    }

    temp = temp % 7;
    FirstDayOfMonth = (currentDayOfWeek + 8 - temp) % 7;
    //First day of month would be in cell 'FirstDayOfMonth.1'
    for (i = 1; i <= daysInMonth; i = i + 1) {
        alsoTemp = 1;
        placeHolder = FirstDayOfMonth + i - 1;
        while (placeHolder > 6) {
            placeHolder = placeHolder - 7;
            alsoTemp = alsoTemp + 1
        }
	if (i>=10) {
            day = i;
	}else{
            day = "0"+i;
	}
	document.getElementById(placeHolder + "." + alsoTemp).innerHTML = "<div id = " + day + ">"+day+"</div>";
	
    }
    document.getElementById("month").textContent = month+1;
    document.getElementById("year").textContent = year;
    pushEvents();
}

function getEvents(){
    "use strict";
    var position = document.getElementById("calenderList").value, id, color, start, weekend, xmlHttp = new XMLHttpRequest();
    //reset event trackers
    calIndex = position;
    eventList = [];
    eventIDList = [];
    eventDayList = [];
    eventMonthList = [];
    eventTimeList = [];
    eventYearList = [];
    document.getElementById("eventTitles").innerHTML = "";
    document.getElementById("calName").textContent = calenderList[position];
    id = calenderIDList[position];
    alert(id+"id");
    alert(month);
    color = calenderColorList[position];
    alert(colors[color]);
    weekend = document.getElementsByClassName("wknd");
    for (a = 0; a < weekend.length; a = a + 1) {
        weekend[a].style.backgroundColor= colors[color];
    }
    //I asked a TA, she said using GET to get things was acceptable. THANK GOD.
    xmlHttp.open("Get", "event/?calid="+id, true);
    xmlHttp.addEventListener("load", function (event) {
	alert(event.target.responseText);
	var jsonData = JSON.parse(event.target.responseText);
	length = jsonData.meta.total_count;
	for(a = 0; a < length; a = a+1){
		eventIDList [a] = jsonData.objects[a].id;
		eventList[a] = jsonData.objects[a].title;
		start = jsonData.objects[a].start;
		start = start.split("T");
		eventTimeList[a] = start[1];
		eventDayList[a] = start[0].split("-")[2];
		eventMonthList[a] = start[0].split("-")[1];
		eventYearList[a] = start[0].split("-")[0];
		document.getElementById("eventTitles").innerHTML+= "<option value = " + (a) + "> "+ eventList[a] + "</option>";
		
	}
	pushEvents();
    }, false);
    xmlHttp.send(null);
    
    
}

document.addEventListener("DOMContentLoaded", populateCalender(dim, today.getDay(), today.getDate()), false);
document.getElementById("login_btn").addEventListener("click", loginAjax, false); // Bind the AJAX call to button click
document.getElementById("register_btn").addEventListener("click",register,false);
document.getElementById("arrowleft").addEventListener("click",backOneMonth,false);
document.getElementById("arrowright").addEventListener("click",upOneMonth,false);
document.getElementById("delEvent").addEventListener("click",deleteEvent, false);
document.getElementById("submitEvent").addEventListener("click",addEvent,false);
document.getElementById("editEvent").addEventListener("click",editEvent,false);
document.getElementById("selectCalender").addEventListener("click",getEvents,false);
document.getElementById("create").addEventListener("click",addCalender,false);
document.getElementById("deleteCalender").addEventListener("click",deleteCalender,false);


function removeLoginRegister(){
    "use strict";
    document.getElementById("login").innerHTML = "";
}

function deleteCalender(){
    "use strict";
    var cid, xmlHttp = new XMLHttpRequest();
    cid = calenderIDList[calIndex];
    xmlHttp.open("POST", "delCal.py", true);
        //send the csrf token or else bad things happen
    xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.addEventListener("load", function(event){
	alert(event.target.responseText);
    	requestCalenders();
    }, false); // Bind the callback to the load event
    xmlHttp.send("calid="+cid);
    
	
}
function addEvent(){
    "use strict";	
    var title,hour,minute,day, times, dates, newYear, newMonth,calid,xmlHttp = new XMLHttpRequest();
    if (user == -1 || document.getElementById("calenderList").value === 0) {
	return;
    }else{
	title = document.getElementById("title").value;
	dates = document.getElementById("date").value;
	times = document.getElementById("time").value;
	alert("dates ="+dates+"times ="+times);
	if (times !== null && dates!== null) {
	    alert("about to do the stuff to add the event");
	    calid = calenderIDList[calIndex];
	    newYear = dates.split('-')[0];
	    newMonth = dates.split('-')[1];
	    day = dates.split('-')[2];
	    hour = times.split(':')[0];
	    minute = times.split(':')[1];
	    alert("title=" + title + "&year=" + newYear + "&hour=" + hour + "&minute=" + minute + "&day=" + day + "&month=" + newMonth + "&calid="+calid);
	    xmlHttp.open("POST", "addEvent.py", true);
        //send the csrf token or else bad things happen
	    xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlHttp.addEventListener("load", function(event){
	        alert(event.target.responseText);
    	        getEvents();
            }, false); // Bind the callback to the load event
            xmlHttp.send("title=" + title + "&year=" + newYear + "&hour=" + hour + "&minute=" + minute + "&day=" + day + "&month=" + newMonth + "&calid="+calid);
	}
    }
	
	
}

function deleteEvent(){
    "use strict";
    var index, key,calID, xmlHttp = new XMLHttpRequest();
    index = document.getElementById("eventTitles").value;
    key = eventIDList[index];
    calID = calenderIDList[calIndex];
    alert("calid="+calID+"&eventid="+key);
    xmlHttp.open("POST", "delEvent.py", true);
    xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xmlHttp.addEventListener("load", function(event){
	alert(event.target.responseText);
    	getEvents();
	clearCalender();
	populateCalender(dim, today.getDay(), today.getDate());
    }, false); // Bind the callback to the load event
    xmlHttp.send("calid="+calID+"&eventid="+key);   
}
function editEvent(){
var title,hour,minute,day,eid,times, dates, calid, newYear, newMonth,index, xmlHttp = new XMLHttpRequest();
    if (user == -1 ) {
	return;
    }else{
	index = document.getElementById("eventTitles").value;
	title = document.getElementById("title").value;
	dates = document.getElementById("date").value;
	times = document.getElementById("time").value;
	if (times !== null && dates!== null && title!== null && index !== null) {
            alert("about to do the stuff to edit the event");
            eid = eventIDList[index];
            calid = calenderIDList[calIndex];
            newYear = dates.split('-')[0];
            newMonth = dates.split('-')[1];
            day = dates.split('-')[2];
            hour = times.split(':')[0];
            minute = times.split(':')[1];
            alert("eventid=" + eid + "&title=" + title + "&year=" + newYear + "&hour=" + hour + "&minute=" + minute + "&day=" + day + "&month=" + newMonth + "&calid="+calid);
            xmlHttp.open("POST", "editEvent.py", true);
        //send the csrf token or else bad things happen
            xmlHttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xmlHttp.addEventListener("load", function(event){
                alert(event.target.responseText);
		clearCalender();
		getEvents();
		populateCalender(dim,today.getDay(), today.getDate());
            }, false); // Bind the callback to the load event
            xmlHttp.send("title=" + title + "&eventid=" + eid + "&year=" + newYear + "&hour=" + hour + "&minute=" + minute + "&day=" + day + "&month=" + newMonth + "&calid="+calid);
	} else {
		alert("No way man, you can't do it like that. you need to fill in all fields and ");
	}
    }
	
	

}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>
</div></body>

</html>
